:root {
    --background-color: #191820;
    --foreground-color: #f0f6fc;
    --red: #f55b77;
    --orange: #ff7e33;
    --yellow: #e0af68;
    --green: #9ece6a;
    --cyan: #7dcfff;
    --blue: #7aa2f7;
    --purple: #bb9af7;
}

html {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: monospace;
    font-size: 16px;
    line-height: 1em;
    margin: 0;
    padding: 1em;
    counter-set: line-number 0;
}
body > h1,
body > h2,
body > h3,
body > p,
body > ul > li,
span.blank-line {
    font-size: 1em;
    line-height: 1em;
    font-weight: 400;
    margin-inline: 0;
    margin-block: 0;
    padding-block: 0.5em;
    display: flex;
    &::before {
        color: var(--blue);
    }
    &::after {
        color: rgba(255, 255, 255, 0.15);
        content: counter(line-number);
        counter-increment: line-number;
        display: inline-block;
        flex: none;
        margin-right: 2ch;
        order: -1;
        text-align: right;
        width: 3ch;
    }
    &:hover {
        &::after {
            color: rgba(255, 255, 255, 0.25);
        }
    }
}

ul {
    padding: 0;
    list-style: none;
    margin-block: 0;
}
span.blank-line {
    display: block;
    height: 1em;
}
a {
    color: var(--orange);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

a::before {
    content: "[";
    color: var(--green);
}
a::after {
    content: "] (" attr(href) ")";
    color: var(--green);
}
h1::before {
    content: "#";
    margin-right: 1ch;
}
h2::before {
    content: "##";
    margin-right: 1ch;
}
h3::before {
    content: "###";
    margin-right: 1ch;
}
li::before {
    content: "-";
    margin-right: 1ch;
}
