---
import Repositories from "../components/Repositories.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Benjamin Dehli</h1>
    <span class="blank-line"></span>
    <Repositories />
    <span class="blank-line"></span>
</Layout>
