---
import musicRepos from "../data/music.json";
---

<h3>Music Repositories</h3>
<span class="blank-line"></span>
<ul>
    {
        musicRepos.map((repo) => (
            <li>
                <a href={repo.url}>{repo.name}</a>
            </li>
        ))
    }
</ul>
