---
import DecentSampler from "./DecentSampler.astro";
import Music from "./Music.astro";
import Websites from "./Websites.astro";
---

<h2>Repositories</h2>
<span class="blank-line"></span>
<DecentSampler />
<span class="blank-line"></span>
<Music />
<span class="blank-line"></span>
<Websites />
<span class="blank-line"></span>
