---
import websiteRepos from "../data/websites.json";
---

<h3>Website Repositories</h3>
<span class="blank-line"></span>
<ul>
    {
        websiteRepos.map((repo) => (
            <li>
                <a href={repo.url}>{repo.name}</a>
            </li>
        ))
    }
</ul>
